<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking Management System</title>
    
</head>
<body>
    <header>
        <h1>Welcome to Banking Management System</h1>
    </header>
    <nav>
        <ul>
            <li><a routerLink="/account" routerLinkActive="active">Account Management</a></li>
            <li><a routerLink="/registered-customers" routerLinkActive="active">Registered Customers</a></li>
            <li><a routerLink="/created-accounts" routerLinkActive="active">Accounts Created</a></li>
            <li><a routerLink="/transactions-done" routerLinkActive="active">Transactions</a></li>
        </ul>
    </nav>
</body>
</html>
