<app-home></app-home>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Account ID</th>
        <th>Transaction Type</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.accountNumber }}</td>
        <td>{{ transaction.transactionType }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.description }}</td>
      </tr>
    </tbody>
  </table>